#dirs
.externalToolBuilders/
.settings/
.idea/
artifacts/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
target/
build/
logs/
#files
config/local.yml
.checkstyle
.classpath
.project
.gradle
*.iml
*.ipr
*.iws
.DS_Store
*.env
*.hprof
